#skills{
    font-size: 17;
    font-weight: 700;
}
#hello{
    font-family: "cursive"; 
    font-weight:700;
     font-size: 22px ;
     
}
#divcontainer{
   background-color:silver; 
}
footer{
   background-color: lightblue 
}
#footerMessage{
  background-color: (0, 0, 0, 0.2) 
}
#div2{
     backgroundolor: (0, 0, 0, 0.2)
}